/******************************************************************
NAVIGATION SECTION
******************************************************************/

.menu {
    line-height: 1;
    margin: 0 auto 3em;
}

.menu__list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__item {
    display: block;
    margin: 1em 0;
}

.menu__link {
    font-size: 1.5vm;
    font-weight: bold;
    display: block;
    padding: 1vsm;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
    outline: none;
}

.menu--sebastian .menu__link {
    position: relative;
    display: block;
    margin: 0 1em;
    text-align: center;
    color: #929292;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.menu--sebastian .menu__link:hover,
.menu--sebastian .menu__link:focus {
    color: #fff;
}

.menu--sebastian .menu__item--current .menu__link {
    color: #1AA325;
}

.menu--sebastian .menu__link::before,
.menu--sebastian .menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1AA325;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.menu--sebastian .menu__link::before {
    top: 0;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}

.menu--sebastian .menu__link::after {
    bottom: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

.menu--sebastian .menu__item--current .menu__link::before,
.menu--sebastian .menu__item--current .menu__link::after {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


/* Prospero */

.menu--prospero .menu__link {
    position: relative;
    display: block;
    margin: 0 1.5em;
    padding: 0.75em 0;
    text-align: center;
    color: #b5b5b5;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.menu--prospero .menu__link:hover,
.menu--prospero .menu__link:focus {
    color: #929292;
}

.menu--prospero .menu__item--current .menu__link {
    color: #1AA325;
}

.menu--prospero .menu__link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: #1AA325;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
}

.menu--prospero .menu__item--current .menu__link::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}


/****************************************************************
                    Home Section
****************************************************************/

.home {
    background-image: url(/images/laptop_4-wallpaper-1280x800.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1280px;
    height: 80vw;
}

.container {
    width: 100%;
    height: auto;
}

.intro {
    font-family: 'Playfair Display', serif;
    font-size: 2.5vw;
    color: #1AA325;
    /*    float:left;*/
}

.profileimage {
    border-radius: 50%;
    height: 20vw;
    float: left;
}

.image {
    height: 15vw;
}

.navbar {
    position: fixed;
    /*    background-color: black;*/
}

.empty {
    height: 20vw;
}


/****************************************************************
                        About Me
****************************************************************/

.aboutme {
    font-family: 'Playfair Display', serif;
    font-size: 3.5vw;
    color: black;
    text-decoration: underline;
    text-align: center;
}

.personal {
    font-family: 'Playfair Display', serif;
    font-size: 2.5vw;
    color: #2BAD48;
}

.SA li {
    font-family: 'Playfair Display', serif;
    font-size: 1.5vw;
    /*    text-align: center;*/
}

.SIntro {
    font-family: 'Playfair Display', serif;
    font-size: 3.5vw;
}

.skills {
    font-family: 'Playfair Display', serif;
    font-size: 1.5vw;
}

.skls {
    color: #2BAD48;
}


/****************************************************************
                       portfolio
****************************************************************/

.portfolio {
    font-family: 'Playfair Display', serif;
    font-size: 3.5vw;
    color: black;
    text-decoration: underline;
    text-align: center;
}

.pf {
    font-family: 'Playfair Display', serif;
    font-size: 1.5vw;
    color: #2BAD48;
}


/****************************************************************
                         Contact us
****************************************************************/

.smedia {
    font-family: 'Playfair Display', serif;
    font-size: 2.5vw;
    color: #1AA325;
    height: 20vw;
}

.socialmedia {
    list-style: none;
}

.socialmedia li {
    padding: 6px;
    display: inline-block;
    color: #1AA325;
    text-decoration: none;
}


/****************************************************************

***************************************************************/
